@import '../src/main';

$spacing: 16px;

html { 
	background: GhostWhite; 
	color: DarkSlateBlue;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.3;
}

a {
	color: DarkSlateBlue;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: Tomato;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .5em;	
}

p, ul {
	margin: 0 0 1em;
}

li {
	line-height: 1.5;
	margin: .2em;
}

small {
	line-height: 1.5;
}

hr {
	border: none;
	border-top: 1px solid DarkSlateBlue;
	height: 1px;
	margin: $spacing 0;
}

code {
	background: floralwhite;
	border: 1px solid gainsboro;
	border-radius: 2px;
	padding: 2px 3px;
}

.row {
	margin-top: $spacing;
}

.item {
	background-color: CornflowerBlue;
	border-radius: 2px;
	display: block;
	height: $spacing * 2; 
	margin-bottom: $spacing;
	width: 100%;
}

.bg--blue {
	background-color: cornflowerblue;
}

.bg--red {
	background-color: tomato;
}

.container {
	@include horizontal-margin(auto);
	max-width: 1000px;
	// include explicit 100% width, otherwise inner flex items don't
	// automatically take up all horizontal space
	width: 100%;
}

.spacing {
	@include vertical-padding($spacing);
}

#wrapper {
	@include vertical-margin($spacing * 3);
}

#sidebar {
	
	//background-color: white;
	border-left: 1px solid gainsboro;
	// No flexbox
	float: right;
	
	// W/ flexbox
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}