/**
 * REFLEX
 * 
 * Supercharge your grid with flexbox
 * @version 0.2.1
 * @author Matthew Simo
 * @author Louis-Olivier Brassard 'loup-brun'
 */

/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the 
 * understanding that you can pass in whatever you might require for your site.
 *
 * $bp-namespace-obj is a Sass list with nested lists inside. Each sub list defines two things. 
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 * 
 * Note: If the measurement is left out then it will be skipped when generating 
 * the grid and applied to global styles.
 *
 */

@import
	'reflex/rflx.variables',
	'reflex/rflx.mixins',
	'reflex/rflx.grid'
	;

